body {
    background-color: rgb(164, 164, 220);
    text-align: center;
}

a.snake {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: text;
}

button {
    cursor: pointer;
}

p {
    font-size: large;
}

h2 {
    font-size:x-large;
}