body {
    background-image: linear-gradient(rgb(164, 164, 220), rgb(76, 58, 58));
    text-align: center;
}

a.snake {
    color: white; /* Binnenkleur */
    -webkit-text-stroke: 1px black; /* Dikte en kleur van de outline */
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    background-color: none;
}

a {
    color: rgb(0, 0, 0); /* Binnenkleur */
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    background-color: aliceblue;
}

a.snake:hover {
    cursor: text;
}

button {
    cursor: pointer;
}

p {
    color: white; /* Binnenkleur */
    -webkit-text-stroke: 1px black; /* Dikte en kleur van de outline */
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size:x-large;
}